{{>layouts/header}}
<form class="container" action="/user/join" method="post">
    {{#errors}}
        <div class="alert alert-danger" role="alert">
            {{#errors}}
                <div>{{.}}</div>
            {{/errors}}
        </div>
    {{/errors}}



    <div class = "mb-3">
        <label class = "form-label">username</label>
        <input type = "text" class = "form-control" name = "username">
    </div>
    <div class = "mb-3">
        <label class = "form-label">password</label>
        <input type = "password" class = "form-control" name = "password">
    </div>

    <div class = "mb-3">
        <label class = "form-label">password</label>
        <input type = "password" class = "form-control" name = "password2">
    </div>

    <div class = "mb-3">
        <label class = "form-label">emil</label>
        <input type = "text" class = "form-control" name = "email">
    </div>

    <button type="submit" class = "btn btn-primary">Join</button>
    <a href ="/user/login">Back</a>
</form>